@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#000;
}
#header
{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .logo
{
    color: #161623;
    font-weight:700 ;
    font-size: 2em;
    text-decoration: none;
 
}
#header ul
{
    display: flex;
    justify-content: center;
    align-items: center;

}
#header ul li
{
    list-style: none;
    margin-left: px;
}
#header ul li a
{
    font-size: 200%;
    font-weight: 600;
    text-decoration: none;
    padding: 6px 15px;
    color: #ffffff;
    border-radius:20px ;
    z-index: 10000;

}
#header ul li a:hover,
#header ul li a.active
{
    background: linear-gradient(#2196f3,#f0f);
    color: #fff;
}

h1 {
  text-align: center;
}
.social-menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#ffffff;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}
.social-menu ul li:nth-child(6) a:hover {
    background-color: #000;
}
.social-menu ul li:nth-child(7) a:hover {
    background-image: linear-gradient(to bottom right, red, yellow);
    
}

body::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(30% at top right);
}
body::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3,#0edf54);
    clip-path: circle(6% at 0% 90%);
    overflow-y: auto;
}